.operation_form
  %div.operation_form_header
    %h4 Form title
  %div.operation_form_content
    = form_for(@subcategory, html: {role: 'form'}) do |f|
      .form-group
        = f.label 'Категория'
        = f.select :category_id, Category.get_select_data, class: 'form-control'
      .form-group
        = f.label 'Наименование'
        = f.text_field :name, class: 'form-control'
      .form-group
        = f.submit 'Сохранить', role: 'button', class: 'btn btn-default'
