= flash_messages
= flash_errors(@subcategory)
.object-form
  %div.object-form-header
    %h4= title_of_object_form(@subcategory)
  %div.object-form-content
    = form_for(@subcategory, html: {role: 'form', class: 'form-horizontal'}) do |f|
      .form-group
        .col-sm-3
          = f.label 'Категория', class: 'control-label'
        .col-sm-9
          = f.select :category_id, Category.ordered_by_user(current_user), {}, class: 'form-control'
      .form-group
        .col-sm-3
          = f.label 'Наименование', class: 'control-label'
        .col-sm-9
          = f.text_field :name, class: 'form-control'
      .form-group
        .col-sm-12.text-right
          = f.submit 'Сохранить', role: 'button', class: 'btn btn-default'
