.container
  .row
    .col-md-12
  .row
    .col-md-3
      %a.btn.btn-default{role: 'button', href: "#{new_operation_path}"} Добавить
      %a.btn.btn-default{role: 'button'} Фильтр
  .row
    .col-md-12
      %table.table.table-bordered
        %thead
          %th №
          %th Наименование
          %th
          %th
        %tbody
          - @subcategories.each_with_index do |subcategory, index|
            %tr
              %td= index.next
              %td= subcategory.name
              %td= link_to 'Редактировать', edit_subcategory_path(subcategory)
              %td= link_to 'Удалить', subcategory_path(category), method: :delete
