- #TODO create helper method to generate table list
.container
  .row
    .col-md-7
      .row
        .col-md-6
          =flash_messages
      .row
        .col-md-4
          %p
            %a.btn.btn-default{role: 'button', href: "#{new_category_path}"} Добавить
            %a.btn.btn-default{role: 'button'} Фильтр
        .col-md-8.text-right
          = paginate @categories
      .row
        .col-md-12
          %table.table.table-hover.table-bordered
            %thead
              %th №
              %th{colspan: '3'} Наименование
            %tbody
              - @categories.each_with_index do |category, index|
                %tr
                  %td= index.next
                  %td= category.name
                  %td.col-md-1
                    = link_to image_tag('edit-icon.png'), edit_category_path(category), title: 'Редактировать'
                  %td.col-md-1
                    = link_to image_tag('destroy-icon.png'), category_path(category), method: :delete, title: 'Удалить'
