<!DOCTYPE html>
%html
  %head
    %title MYFINANCE - простой способ учета личных финансов
    = favicon_link_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    %script
      var dataLayer = [{ 'variable_of_data_layer' : 'value_of_data_layer' }];
    = render 'shared/ga'
    = nav_bar :static => :top, fluid: true, brand: image_tag('app_icon.png') + ' MyFinance' do
      - if user_signed_in?
        = menu_group pull: :left do
          = menu_item "Операции", operations_path
          = menu_item "Категории", categories_path
          = menu_item "Субкатегории", subcategories_path
        = menu_group pull: :right do
          = menu_item current_user.email
          = menu_item "Выйти", destroy_user_session_path, method: :delete

      - else
        = menu_group :pull => :right do
          = menu_item "Войти", new_user_session_path
          = menu_item "Регистрация", new_user_registration_path

    .container-fluid
      .row
        .col-md-12
          = yield

    = nav_bar :static => :bottom, fluid: true do
      .text-center
        %div
          %span{style: 'color: black'} ©2015
          %span{style: 'color: blue'} Dilshod Samatov
        %div
          %span{style: 'font-size: 12px;'} email:- samatov.dilshod@gmail.com

    :javascript
      //TODO if alert more than one, this get error
      $(document).ready( function(){
        alertContent = $('div.alert');
        if(alertContent.length){
           new PNotify({
              title: 'Сообщение!',
              text: alertContent.data('message') ? alertContent.data('message') : 'Ошибка',
              type: 'info',
              animate_speed: 'fast',
              delay: 2000,
              icon: true
          })
        }
      });
