<!DOCTYPE html>
%html
  %head
    %title MyFinance
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    .container-fluid
      .row
        .col-md-12
          = nav_bar :static => :top do
            = menu_group do
              = menu_item "Операции", operations_path
              = menu_item "Категории", categories_path
              = menu_item "Субкатегории", subcategories_path

            = menu_group :pull => :right do
              = menu_item "Menu"
      .row
        .col-md-12
          = yield 
