.operation_form
  %div.operation_form_header
    %h4 Form title
  %div.operation_form_content
    =form_for(@operation, html: {role: 'form'}) do |f|
      .form-group
        = f.label 'Дата'
        = f.date_field :date, class: 'form-control'
      .form-group
        = f.label 'Сумма'
        = f.text_field :sum, class: 'form-control'
      .form-group
        = f.label 'Источник операции'
        = f.select :source, [['Наличка',1], ['Пл.карта',2]], class: 'form-control'
      .form-group
        = f.label 'Категория'
        = f.select :category_id, [['Дом',1], ['Дорого',2]], class: 'form-control'
      .form-group
        = f.label 'Субкатегории'
        = f.select :subcategory_id, [['СубДом',1], ['СубДорого',2]], class: 'form-control'
      .form-group
        = f.label 'Комментарии'
        = f.text_field :comment, class: 'form-control'
      .form-group
        = f.submit 'Сохранить', role: 'button', class: 'btn btn-default'
