= flash_messages
= flash_errors(@operation)
.object_form
  %div.object_form_header
    %h4= title_of_object_form(@operation)
  %div.object_form_content
    = form_for(@operation, html: {role: 'form', class: 'form-horizontal'}) do |f|
      .form-group
        .col-sm-3
          = f.label 'Дата', class: 'control-label'
        .col-sm-4
          - if @operation.new_record?
            = f.text_field :date, value: l(Date.today), class: 'form-control', role: 'datepicker'
          - else
            = f.text_field :date, value: l(@operation.date), class: 'form-control', role: 'datepicker'
      .form-group
        .col-sm-3
          = f.label 'Сумма', class: 'control-label'
        .col-sm-4
          = f.text_field :sum, class: 'form-control text-right'
      .form-group
        .col-sm-3
          = f.label 'Источник', class: 'control-label'
        .col-sm-5
          = f.select :source, Operation::SOURCES, {}, class: 'form-control'
      .form-group
        .col-sm-3
          = f.label 'Категория', class: 'control-label'
        .col-sm-6
          = f.select :category_id, @categories, {}, class: 'form-control', role: 'category'
      .form-group
        .col-sm-3
          = f.label 'Субкатегории', class: 'control-label'
        .col-sm-6
          = f.select :subcategory_id, @subcategories, {}, class: 'form-control', role: 'subcategory'
      .form-group
        .col-sm-3
          = f.label 'Комментарии', class: 'control-label'
        .col-sm-9
          = f.text_area :comment, class: 'form-control'
      .form-group
        .col-sm-12.text-right
          = f.submit 'Сохранить', role: 'button', class: 'btn btn-default'
