.container
  .row
    .col-md-6
      = flash_messages
  .row
    .col-md-5
      .col-md-2 Остатки
      .col-md-10
        %p= "Пл.карта  ______"
        %p= "Наличка   ______"
    .col-md-5
      .col-md-2 Обороты
      .col-md-10
        %p= "Приход  ______"
        %p= "Расход   ______"
  .row
    .col-md-6
      .row
        .col-md-12
          %a.btn.btn-default{role: 'button', href: "#{new_operation_path}"} Добавить
          %a.btn.btn-default{role: 'button', href: "#{list_filter_operations_path}"} Фильтр
      .row
        .col-md-12
          %span= @filter_string.blank? ? '' : "Отбор: #{@filter_string}"
    .col-md-6.text-right
      = paginate @operations
  .row
    .col-md-12
      %table.table.table-hover.table-bordered
        %thead
          %th №
          %th Дата
          %th Сумма
          %th Источник операции
          %th Категория
          %th Субкатегория
          %th{colspan: '3'}Примечание
        %tbody
          - @operations.each_with_index do |operation, index|
            %tr
              %td= index.next
              %td= l(operation.date)
              %td.text-right= number_to_currency(operation.sum, unit: '')
              %td= operation.source
              %td= operation.category.name
              %td= operation.subcategory.name
              %td= operation.comment
              %td= link_to image_tag('edit-icon.png'), edit_operation_path(operation), title: 'Редактировать'
              %td= link_to image_tag('destroy-icon.png'), operation_path(operation), method: :delete, title: 'Удалить'
