.container
  .row
    .col-md-6
      = flash_messages
  .row
    .col-md-3
      %a.btn.btn-default{role: 'button', href: "#{new_operation_path}"} Добавить
      %a.btn.btn-default{role: 'button'} Фильтр
    .col-md-5
      .col-md-4 Ост.на начало
      .col-md-8
        %p= "Пл.карта  ______"
        %p= "Наличка   ______"
    .col-md-4
      .col-md-4 Ост.на конец
      .col-md-8
        %p= "Пл.карта  ______"
        %p= "Наличка   ______"
  .row
    .col-md-12
      %table.table.table-bordered
        %thead
          %th №
          %th Дата
          %th Сумма
          %th Источник операции
          %th Категория
          %th Субкатегория
          %th Примечание
          %th
          %th
        %tbody
          - @operations.each_with_index do |operation, index|
            %tr
              %td= index.next
              %td= operation.date
              %td= operation.sum
              %td= operation.source
              %td= operation.category.name
              %td= operation.subcategory.name
              %td= operation.comment
              %td= link_to 'Редактировать', edit_operation_path(operation)
              %td= link_to 'Удалить', operation_path(operation), method: :delete
