.col-md-10
  .row
    .col-md-6
      = flash_messages
  .row
    .col-md-8
      .currency-info
        .row
          .col-md-5.balance
            .row
              .col-md-7
                %p= t('ui.operations.rest_of_plastic_card')
              .col-md-5
                %p= "______"
            .row
              .col-md-7
                %p= t('ui.operations.rest_of_crash')
              .col-md-5
                %p= "______"
          .col-md-5.revs
            .row
              .col-md-4
                %p= t('ui.operations.incoming')
              .col-md-4.text-right
                %p{ 'data-toggle' => "tooltip",
                    'data-placement' => "bottom",
                    'title' => total_currence_details(@calculations[:incoming_details])}
                  = number_to_currency @calculations[:incoming], unit: ''
            .row
              .col-md-4
                %p= t('ui.operations.outgoing')
              .col-md-4.text-right
                %p{ 'data-toggle' => "tooltip",
                    'data-placement' => 'bottom',
                    'title' => total_currence_details(@calculations[:expense_details])}
                  = number_to_currency @calculations[:expense], unit: ''
  .row
    .col-md-6
      .row
        .col-md-12
          %p
            %a.btn.btn-default{role: 'button', href: "#{new_operation_path}"}= t('common.ui.add_button')
            %a.btn.btn-default{role: 'button', href: "#{list_filter_operations_path}"}= t('common.ui.filter_button')
      .row
        .col-md-12
          %p
            - unless @filter_string.blank?
              = "#{t('common.ui.filter_label_string')}: #{colorize_filter_string(@filter_string)}".html_safe

    .col-md-6.text-right
      = paginate @operations
  .row
    .col-md-12
      %table.table.table-hover.table-bordered
        %thead
          %th №
          %th= t('ui.operations.table.column_date')
          %th= t('ui.operations.table.column_sum')
          %th= t('ui.operations.table.column_transcript')
          %th{colspan: '3'}= t('ui.operations.table.column_note')
        %tbody
          - @operations.each_with_index do |operation, index|
            %tr
              %td= index.next
              %td= l(operation.date)
              %td.row-detail
                %p.text-right= number_to_currency(operation.sum, unit: '')
                %p
                  %span= "#{t('ui.operations.source_type')}:"
                  %span.subject= operation.source_name
              %td.row-detail
                %p= operation.subcategory.name if operation.subcategory
                %p
                  %span= "#{t('ui.operations.category_type')}:"
                  %span.subject= operation.category.name
              %td= operation.comment
              %td.table-button= link_to image_tag('edit-icon.png'), edit_operation_path(operation), title: 'Редактировать'
              %td.table-button= link_to image_tag('destroy-icon.png'), operation_path(operation), method: :delete, title: 'Удалить'
