.container
  .row
    .col-md-7
      .object-form
        %div.object-form-header
          %h4 Фильтрировать записи
        %div.object-form-content
          = form_tag operations_path, {role: 'form', class: 'form-horizontal', method: :get} do
            .form-group
              .col-sm-2
                = label :filter, :date_begin, 'Период с', class: 'control-label'
              .col-sm-3
                = text_field :filter, :date_begin, class: 'form-control', readonly: true, role: 'datepicker-begin', value: l(Date.today)
              .col-sm-1
                = label :filter, :date_end, 'по', class: 'control-label'
              .col-sm-3
                = text_field :filter, :date_end, class: 'form-control', readonly: true, role: 'datepicker-end', value: l(Date.today)
              .col-sm-1
                = button_tag '...', type: 'button', role: 'open-financical-period-selector', title: 'Выбор периода'
            .form-group
              .col-sm-2
                = label :filter, :source, 'Источник', class: 'control-label'
              .col-sm-5
                = select :filter, :source, Operation::SOURCES, {include_blank: true}, class: 'form-control'
            .form-group
              .col-sm-2
                = label :filter, :category, 'Категория', class: 'control-label'
              .col-sm-5
                = select :filter, :category, options_for_select(@categories.map {|e| [e.name, e.id]}), {include_blank: true}, class: 'form-control', role: 'category', data: {filter: true}
            .form-group
              .col-sm-2
                = label :filter, :subcategory, 'Субкатегории', class: 'control-label'
              .col-sm-5
                = select :filter, :subcategory, options_for_select(@subcategories.map {|e| [e.name, e.id]}), {include_blank: true}, class: 'form-control', role: 'subcategory'
            .form-group
              .col-sm-12.text-right
                = submit_tag 'Выполнить', role: 'button', class: 'btn btn-default'
